data/
dist/
*.exvim*
node_modules/
webroot/*.min.css
webroot/*.min.js
webroot/images/*
!webroot/images/marker-galette.png
!webroot/images/marker-galette-pro.png
tempcache/
tests/coverage/

# compiled translations, built by bin/console galette:compile-locales
lang/*/LC_MESSAGES/*.mo
